body {
    background-color: black;
}

nav {
    font-family: Futura;
    padding: 20px;
    background-color: #037c6e;
}

.container {
  font-size: 25px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  text-align: right;
  color: white;
}

a {
  padding: 25px;
  color: white;
  text-decoration: none;
  flex-grow: 1;
}

a:hover {
  color: black;
}

.headshot {  font-family: Futura;
  display: flex;
  text-align: center;
  font-size: 30px;
  flex-wrap: wrap;
  justify-content: left;
}

#headshotimg {
  height: 500px;
  width: 400px;
  object-fit: cover;
  margin: 20px 10px 0px 10px;
}

.resume {
  background-color: #037c6e;
  text-decoration: underline;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
}

p {
  color: white;
  font-family: futura;
  font-size: 25px;
}

footer {
  background-color: #037c6e;
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 40px;
  font-family: Futura;
  padding: 20px;
  font-size: 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  justify-content: center;
  font-family: Futura;
  font-size: 25px;
}

.flex-container {
  display: flex; /* Creates the flex layout */
  gap: 20px;     /* Adds space between columns */
}

h1 {
  text-decoration: underline;
  color: white;
  font-family: futura;
}

.column {
  flex: 1;       /* Makes all 3 columns equal width */
  padding: 10px;
}

.column img {
  width: 100%; /* Makes image fill the column width */
  height: auto; /* Keeps image proportions correct */
  display: block;
}

.column iframe {
  width: 100%; /* Makes image fill the column width */
  height: auto; /* Keeps image proportions correct */
  display: block;
}

h3 {
  color: white;
  font-family: futura;
  text-align: center;
}

.slider {
  position: relative;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.slide {
  display: none; /* Hide all slides by default */
  width: 100%;
  height: auto;
}

.slide.active {
  display: block; /* Only show the active slide */
  width: 100%;
  height: auto;
}

img {
  width: 100%;
  height: auto;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(0,0,0,0.5);
  color: white;
  padding: 10px;
  border: none;
}

.next { right: 0; }
.prev { left: 0; }